In [1]:
import os
import pandas as pd

In [2]:
def load_all_csv(folder_path):
    all_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
    df_list = [pd.read_csv(os.path.join(folder_path, f), sep=";") for f in all_files]
    return pd.concat(df_list, ignore_index=True)

In [3]:
folder = "database\pollution_data\pollution2024"
df = load_all_csv(folder)

In [4]:
df.head(5)

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,4,6,28079004_6_48,2024,4,1,0.3,V,...,0.3,V,0.3,V,0.3,V,0.3,V,0.4,V
1,28,79,4,6,28079004_6_48,2024,4,2,0.3,V,...,0.3,V,0.3,V,0.4,V,0.3,V,0.3,V
2,28,79,4,6,28079004_6_48,2024,4,3,0.3,V,...,0.3,V,0.3,V,0.3,V,0.3,V,0.4,V
3,28,79,4,6,28079004_6_48,2024,4,4,0.4,V,...,0.3,V,0.4,V,0.6,V,0.6,V,0.5,V
4,28,79,4,6,28079004_6_48,2024,4,5,0.5,V,...,0.4,V,0.4,V,0.4,V,0.4,V,0.5,V

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46737 entries, 0 to 46736
Data columns (total 56 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       46737 non-null  int64
 1   MUNICIPIO       46737 non-null  int64
 2   ESTACION        46737 non-null  int64
 3   MAGNITUD        46737 non-null  int64
 4   PUNTO_MUESTREO  46737 non-null  object
 5   ANO             46737 non-null  int64
 6   MES             46737 non-null  int64
 7   DIA             46737 non-null  int64
 8   H01             46737 non-null  float64
 9   V01             46737 non-null  object
 10  H02             46737 non-null  float64
 11  V02             46737 non-null  object
 12  H03             46737 non-null  float64
 13  V03             46737 non-null  object
 14  H04             46737 non-null  float64
 15  V04             46737 non-null  object
 16  H05             46737 non-null  float64
 17  V05             46737 non-null  object
 18  H06             46737 non-null  float64
 19  V06             46737 non-null  object
 20  H07             46737 non-null  float64
 21  V07             46737 non-null  object
 22  H08             46737 non-null  float64
 23  V08             46737 non-null  object
 24  H09             46737 non-null  float64
 25  V09             46737 non-null  object
 26  H10             46737 non-null  float64
 27  V10             46737 non-null  object
 28  H11             46737 non-null  float64
 29  V11             46737 non-null  object
 30  H12             46737 non-null  float64
 31  V12             46737 non-null  object
 32  H13             46737 non-null  float64
 33  V13             46737 non-null  object
 34  H14             46737 non-null  float64
 35  V14             46737 non-null  object
 36  H15             46737 non-null  float64
 37  V15             46737 non-null  object
 38  H16             46737 non-null  float64
 39  V16             46737 non-null  object
 40  H17             46737 non-null  float64
 41  V17             46737 non-null  object
 42  H18             46737 non-null  float64
 43  V18             46737 non-null  object
 44  H19             46737 non-null  float64
 45  V19             46737 non-null  object
 46  H20             46737 non-null  float64
 47  V20             46737 non-null  object
 48  H21             46737 non-null  float64
 49  V21             46737 non-null  object
 50  H22             46737 non-null  float64
 51  V22             46737 non-null  object
 52  H23             46737 non-null  float64
 53  V23             46737 non-null  object
 54  H24             46737 non-null  float64
 55  V24             46737 non-null  object
dtypes: float64(24), int64(7), object(25)
memory usage: 20.0+ MB

In [6]:
df.describe()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,ANO,MES,DIA,H01,H02,H03,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
count,46737.0,46737.0,46737.000000,46737.000000,46737.0,46737.000000,46737.000000,46737.000000,46737.000000,46737.000000,...,46737.000000,46737.000000,46737.000000,46737.000000,46737.000000,46737.000000,46737.000000,46737.000000,46737.000000,46737.000000
mean,28.0,79.0,36.121531,11.564713,2024.0,6.508227,15.757986,21.853303,19.098038,16.738892,...,19.895781,19.347731,19.180223,20.185048,23.091647,26.599354,28.870067,29.197315,27.298064,24.477410
std,0.0,0.0,18.062922,6.943616,0.0,3.451946,8.810830,33.062587,29.052137,25.065227,...,28.783860,29.615020,29.298032,30.389218,36.676950,45.412476,49.301142,48.266986,43.235803,37.650378
min,28.0,79.0,4.000000,1.000000,2024.0,1.000000,1.000000,-3.000000,-2.000000,-2.000000,...,-6.000000,-3.000000,-3.000000,-42.000000,-14.000000,-17.000000,-7.000000,-7.000000,-2.000000,-2.000000
25%,28.0,79.0,18.000000,8.000000,2024.0,4.000000,8.000000,1.200000,1.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.700000
50%,28.0,79.0,38.000000,10.000000,2024.0,7.000000,16.000000,10.000000,8.000000,7.000000,...,9.000000,8.000000,8.000000,8.000000,9.000000,10.000000,12.000000,13.000000,12.000000,11.000000
75%,28.0,79.0,54.000000,12.000000,2024.0,10.000000,23.000000,28.000000,24.000000,21.000000,...,23.000000,21.000000,21.000000,23.000000,26.000000,30.000000,34.000000,35.000000,34.000000,31.000000
max,28.0,79.0,60.000000,35.000000,2024.0,12.000000,31.000000,541.000000,709.000000,392.000000,...,542.000000,1020.000000,679.000000,1020.000000,665.000000,853.000000,844.000000,1020.000000,646.000000,572.000000