# Pollution Data Cleaning

In [2]:
import os
import pandas as pd

In [1]:
def load_all_csv(folder_path):
    all_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
    df_list = [pd.read_csv(os.path.join(folder_path, f), sep=";") for f in all_files]
    return pd.concat(df_list, ignore_index=True)

In [26]:
folder = "database\pollution_historical_data_2017_2024"
df = load_all_csv(folder)

In [27]:
df = df.sort_values(by=["ANO", "MES", "DIA"], ascending=True).reset_index(drop=True)

In [21]:
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,4,1,28079004_1_38,2017,1,1,7.0,V,...,6.0,V,11.0,V,12.0,V,6.0,V,3.0,V
1,28,79,4,6,28079004_6_48,2017,1,1,0.6,V,...,0.5,V,0.7,V,1.0,V,0.5,V,0.4,V
2,28,79,4,7,28079004_7_8,2017,1,1,83.0,V,...,38.0,V,125.0,V,162.0,V,60.0,V,27.0,V
3,28,79,4,8,28079004_8_8,2017,1,1,45.0,V,...,79.0,V,89.0,V,96.0,V,78.0,V,60.0,V
4,28,79,4,12,28079004_12_8,2017,1,1,172.0,V,...,138.0,V,281.0,V,345.0,V,171.0,V,101.0,V

In [ ]:
#df.to_csv(folder + ".csv", index=False)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354314 entries, 0 to 354313
Data columns (total 56 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PROVINCIA       354314 non-null  int64
 1   MUNICIPIO       354314 non-null  int64
 2   ESTACION        354314 non-null  int64
 3   MAGNITUD        354314 non-null  int64
 4   PUNTO_MUESTREO  354314 non-null  object
 5   ANO             354314 non-null  int64
 6   MES             354314 non-null  int64
 7   DIA             354314 non-null  int64
 8   H01             354314 non-null  float64
 9   V01             354314 non-null  object
 10  H02             354314 non-null  float64
 11  V02             354314 non-null  object
 12  H03             354314 non-null  float64
 13  V03             354314 non-null  object
 14  H04             354314 non-null  float64
 15  V04             354314 non-null  object
 16  H05             354314 non-null  float64
 17  V05             354314 non-null  object
 18  H06             354314 non-null  float64
 19  V06             354314 non-null  object
 20  H07             354314 non-null  float64
 21  V07             354314 non-null  object
 22  H08             354314 non-null  float64
 23  V08             354314 non-null  object
 24  H09             354314 non-null  float64
 25  V09             354314 non-null  object
 26  H10             354314 non-null  float64
 27  V10             354314 non-null  object
 28  H11             354314 non-null  float64
 29  V11             354314 non-null  object
 30  H12             354314 non-null  float64
 31  V12             354314 non-null  object
 32  H13             354314 non-null  float64
 33  V13             354314 non-null  object
 34  H14             354314 non-null  float64
 35  V14             354314 non-null  object
 36  H15             354314 non-null  float64
 37  V15             354314 non-null  object
 38  H16             354314 non-null  float64
 39  V16             354314 non-null  object
 40  H17             354314 non-null  float64
 41  V17             354314 non-null  object
 42  H18             354314 non-null  float64
 43  V18             354314 non-null  object
 44  H19             354314 non-null  float64
 45  V19             354314 non-null  object
 46  H20             354314 non-null  float64
 47  V20             354314 non-null  object
 48  H21             354314 non-null  float64
 49  V21             354314 non-null  object
 50  H22             354314 non-null  float64
 51  V22             354314 non-null  object
 52  H23             354314 non-null  float64
 53  V23             354314 non-null  object
 54  H24             354314 non-null  float64
 55  V24             354314 non-null  object
dtypes: float64(24), int64(7), object(25)
memory usage: 151.4+ MB

In [15]:
df.describe()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,ANO,MES,DIA,H01,H02,H03,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
count,354314.0,354314.0,354314.000000,354314.000000,354314.000000,354314.000000,354314.000000,354314.000000,354314.000000,354314.000000,...,354314.000000,354314.000000,354314.000000,354314.000000,354314.000000,354314.000000,354314.000000,354314.000000,354314.000000,354314.000000
mean,28.0,79.0,35.349509,12.407723,2020.400783,6.523818,15.721792,25.007910,21.554837,18.609889,...,22.045702,21.060994,20.855137,22.291827,25.869837,29.934902,32.916071,34.019786,32.264804,28.667034
std,0.0,0.0,17.987709,8.960133,2.447371,3.448821,8.797602,42.540518,36.055882,30.818417,...,33.756113,42.644517,32.187595,37.704567,125.868275,152.848985,63.163748,63.657605,58.563814,50.521977
min,28.0,79.0,4.000000,1.000000,2017.000000,1.000000,1.000000,-3.000000,-3.000000,-4.000000,...,-7.000000,-3.000000,-60.000000,-42.000000,-14.000000,-17.000000,-28.000000,-7.000000,-3.000000,-2.000000
25%,28.0,79.0,18.000000,7.000000,2018.000000,4.000000,8.000000,1.000000,1.000000,1.000000,...,2.000000,1.530000,1.340000,1.300000,1.360000,1.440000,1.502500,1.570000,1.440000,1.230000
50%,28.0,79.0,38.000000,10.000000,2021.000000,7.000000,16.000000,10.000000,8.000000,7.000000,...,10.000000,9.000000,9.000000,9.000000,10.000000,11.000000,12.000000,13.000000,13.000000,11.000000
75%,28.0,79.0,54.000000,12.000000,2023.000000,10.000000,23.000000,31.000000,27.000000,22.707500,...,27.000000,25.000000,25.000000,27.000000,31.000000,35.000000,39.000000,42.000000,40.000000,35.177500
max,28.0,79.0,60.000000,44.000000,2024.000000,12.000000,31.000000,1865.100000,1869.100000,1875.600000,...,4244.000000,13424.000000,1914.000000,5485.000000,69846.000000,84530.000000,1892.000000,1798.000000,1862.200000,1862.200000

In [28]:
# Decompose "PUNTO_MUESTREO" into (station - ESTACION), measurement (magnitude - MAGNITUD) and sampling (technique - TÃ‰CNICA)
df[['ESTACION', 'MAGNITUD', 'TECNICA']] = df['PUNTO_MUESTREO'].str.split("_", expand=True)

In [29]:
df = df.drop(columns=['PROVINCIA', 'MUNICIPIO','PUNTO_MUESTREO'])

In [30]:
df.head()

,ESTACION,MAGNITUD,ANO,MES,DIA,H01,V01,H02,V02,H03,...,V20,H21,V21,H22,V22,H23,V23,H24,V24,TECNICA
0,28079004,1,2017,1,1,7.0,V,6.0,V,6.0,...,V,11.0,V,12.0,V,6.0,V,3.0,V,38
1,28079004,6,2017,1,1,0.6,V,0.6,V,0.5,...,V,0.7,V,1.0,V,0.5,V,0.4,V,48
2,28079004,7,2017,1,1,83.0,V,107.0,V,101.0,...,V,125.0,V,162.0,V,60.0,V,27.0,V,8
3,28079004,8,2017,1,1,45.0,V,56.0,V,54.0,...,V,89.0,V,96.0,V,78.0,V,60.0,V,8
4,28079004,12,2017,1,1,172.0,V,220.0,V,209.0,...,V,281.0,V,345.0,V,171.0,V,101.0,V,8

In [32]:
stations = pd.read_csv("database\pollution_stations.csv", sep=",")
magnitudes = pd.read_csv("database\pollution_magnitudes.csv", sep=",")

In [37]:
df['ESTACION'].nunique()

24

In [39]:
stations['CODIGO'].nunique()

38